/* This file is for styles that apply to all pages */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a { text-decoration: none; }
a:link {
	color: #C88141;
}
a:visited {
	color: #a76020;
}
a:active, a:hover, a:focus{
	text-decoration: underline;
}

.clean-list {
    list-style-type: none;
    padding-left: 0.8em;
}

.clean-list > ul > li{
    margin-top: 0;
    margin-bottom: 0;
}

hr {
	border: 1px solid #888;
	width: 80%;
	margin-bottom: 0;
	padding-bottom: 0;
}
