/* Layout CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

    /* SIDEBAR STYLES */
.sidebar {
    background-color: #40547a;
    background-image: url(/img/bg2.png);
    color: #fff;
}
.blog-name,
.blog-tagline {
    margin: 0;
}
.blog-name {
    color: white;
}
.blog-tagline {
    font-weight: 500;
    /* color: #5ec9bf; */
    color: #C88141;
}
.nav-list {
    margin: 5px;
    padding: 0;
    list-style: none;
}
.nav-item {
    margin-bottom: 5px;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid white;
    color: #fff;
    margin-top: 1em;
    padding: 1px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid #C88141;
    text-decoration: none;
}

/* CONTENT STYLES */
a.title-link {
    color: #434343;
}
.content {
    padding: 2em 1em 0;
}
.post {
    padding-bottom: 2em;
    margin-left:auto;
    margin-right:auto;
    max-width: 1080px;
}
.post-title > a.title-link {
    font-size: 24pt;
    margin-bottom: 0.2em;
}
.post-excerpt {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #777;
    font-size: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
}
.post-license {
    color: #999;
    font-size: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;

}
.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}
.footnotes ol {
    padding-left: 0;
}
.footnotes li {
    color: #777;
    font-size: 90%;
}
.footnotes p {
    color: #777;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
}

/* PAGINATION LINKS */
.pagination {
    text-align: center;
    margin-bottom: 1em;
}

/* ALTERNATE SCREEN SIZES */
@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }
    .header {
        margin: 80% 2em 0;
        text-align: right;
    }
    .blog-name { font-size: 16pt; }
    .blog-tagline { font-size: 14pt; }
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}
