/* BASIC STYLES - not on every page */
body {
    line-height: 1.7em;
    color: black;
    font-size: 13px;
}
h1,h2,h3,h4,h5,h6,label {
    color: #434343;
}
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/* HEADING STYLES */
#pure-menu-links {
    position: absolute;
    right: 0;
    top: 0.5em;
}

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0,0.10);
}
.home-menu.pure-menu-open {
    background-color: #323232;
}
.pure-menu-open.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}
.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%
}
.home-menu .pure-menu-selected a {
    color: white;
}
.home-menu a {
    color: #e6e6e6;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #C88141;
}
#home-end {
    height: 15em;
    font-size: 0.9em;
    font-weight: bold;
    color: #e6e6e6;
    background-image: url(/img/bg2.png);
    text-align: center;
}

#home-end p {
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}

#home-end a,
#home-end a:focus {
    color: #e6e6e6;
}

#home-end a:hover {
    color: #ababab;
}

.footer-list {
    display: block;
}

.footer-list > li{
    padding-left: 2em;
    padding-right: 2em;
    display: inline;
    list-style-type: none;
}

#home-end.footer-link a,
#home-end.footer-link a:hover,
#home-end.footer-link a:focus {
    background: none;
    border: none;
    text-decoration: none;
    color: #e6e6e6;
}


/* PURE STYLES */
.content {
    margin-left: auto;
    margin-right: auto;
}

.l-box-lrg {
    padding-left: 1.0em;
    padding-right: 1.0em;
}


/* SPLASH STYLES */
.splash-container {
    background-color: #3B9C9C;
    background-image: url(/img/bg2.png);
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 70%;
    position: fixed !important;
}
.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 4em; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}
.splash-head {
    font-size: 20px;
    font-weight: bold;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    color: white;
}
.splash-subhead {
    color: white;
    font-weight: bold;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/* CONTENT STYLES */
.content-wrapper {
    position: absolute;
    top: 70%;
    width: 100%;
    min-height: 15%;
    z-index: 2;
    background: white;
}
.content-head {
    font-weight: 400%;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: left;
}
.ribbon .content-head {
    color: white;
    text-align: right;
}
.ribbon {
    background-color: #323232;
    color: white;
}

/* Smaller than tablets */
@media (max-width: 48em) {
    #pure-menu-links {
        position: static;
    }

    .footer-list {
        display: block;
        padding-top: 2em;
    }

    .splash {
        top: 10em;
    }
}

/* Styles for device presets */
    /* TABLETS and larger */
@media (min-width: 48em) {
    /* Increase the font size for larger screens */
    body {
        font-size: 16px;
    }
    .content {
        padding: 1em;
    }
    /* Makes the site name go to the left while the links are on the right */
    .home-menu {
        text-align: left;
    }
    .home-menu ul {
        float: right;
        padding-right: 10px;
    }

    .splash {
        width: 50%;
        height: 50%;
    }
    .splash-head {
        font-size: 250%;
    }
}

    /* DESKTOPS and larger */
@media (min-width: 78em) {
    /* Make the font HUUUUUUUGE */
    .splash-head {
        font-size: 300%;
    }

    .pure-g {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
}
