img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p, ul, ol {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}

ul, ol {
    padding-right: 3em;
}

h1,h2,h3,h4,h5,h6 {
    color: #434343;
}

code.highlighter-rouge {
    font-size: 1.0em;
    color: #c24;
    background: #eee;
    border-radius: 5px;
    padding: 5px;
    display: inline;
}

.highlight {
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-size: 0.9em;
    background-color: #323232;
    background-origin: content-box;
    color: #dddddd;
    border-radius: 5px;
    padding: 5px;
}

blockquote {
    border-left: 10px solid #ccc;
    margin-left: 1.5em;
    margin-right: 2.5em;
    padding-left: 5px;
    color: #999;
    font-size: 90%;
    font-style: italic;
}

table {
    border: solid 1px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

th {
    border: solid 1px;
    padding: 5px;
}
td {
    border: solid 1px;
    padding: 5px;
}
