---
layout: base
author: ThatGeoGuy
description: The personal website and blog of a technology and geomatics enthusiast.
title: Home

tags:
- ThatGeoGuy
- geomatics
- code
- blog
- technology

stylesheets:
- css/home.css
- css/main-grid.css
---
<div class='header'>
    <div class='home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed'>
        <a class='pure-menu-heading' href='{{ site.baseurl }}'>ThatGeoGuy</a>
        <div id='pure-menu-links'>
            <ul class='pure-menu-list'>
                <li class='pure-menu-item'><a class='pure-menu-link' href='{{ site.baseurl }}/#contact'>Contact</a></li>
                <li class='pure-menu-item'><a class='pure-menu-link' href='{{ site.baseurl }}/blog/'>Blog</a></li>
                <li class='pure-menu-item'><a class='pure-menu-link' href='{{ site.baseurl }}/pub/cv.pdf'>CV</a></li>
                <li class='pure-menu-item'><a class='pure-menu-link' href='//github.com/ThatGeoGuy'>GitHub</a></li>
                <li class='pure-menu-item'><a class='pure-menu-link' href='//gitlab.com/ThatGeoGuy'>GitLab</a></li>
            </ul>
        </div>
    </div>
</div>

<div class='splash-container'>
    <div class='splash'>
        <h1 class='splash-head'>ThatGeoGuy</h1>
        <p class='splash-subhead'>
            Geomatics. Technology. Life.
        </p>
    </div>
</div>

<div class='content-wrapper'>
    <div class='content'>
        <div class='l-box-lrg pure-g'>
            <div class='pure-u-1 pure-u-md-1-1 pure-u-lrg-1-1'>
                <h2 class='content-head'>About Me</h2>
                <p>
                    Welcome to ThatGeoGuy.ca, I am Jeremy Steward. I work on a variety of things,
                    mostly surrounding software, cameras, or multi-sensor calibration. Right now,
                    I'm the Senior Perception Architect at <a href="//tangramvision.com">Tangram
                    Vision</a>.
                </p>
                <p>
                    Do be sure to check out my <a href='{{ site.baseurl }}/blog/'>blog</a>.
                </p>
                <p>
                    In the past I've worked on projects involving the Internet-of-Things (IoT),
                    studying reindeer using 3D cameras, and much, much more. I enjoy my time
                    learning about many of the technologies that are (or will be) powering our
                    world. Many of my projects are either published work, or can be found as a
                    <a href='{{ site.baseurl }}/pub/cv.pdf'>part of my CV</a>.
                </p>
            </div>
        </div>
    </div>

    <div class='content ribbon'>
        <div class='l-box-lrg pure-g'>
            <div class='pure-u-1 pure-u-md-1-1 pure-u-lrg-1-1'>
                <h2 class='content-head'>Geomatics</h2>
                <p>
                    The name "ThatGeoGuy" comes from being one of the rare Geomatics engineers (in
                    this case, that guy) who work in a field where nobody knows what geomatics is or
                    means. My specialization in Geomatics Engineering has been largely focused on 3D
                    image metrology, and 3D imaging systems. I excel in Rust, C++, and systems
                    programming and software development, but my background is entirely in camera
                    calibration; multi-sensor integration; and photogrammetry.
                </p>
                <p>
                    As for Geomatics, it is a portmanteau of <em>Geospatial Informatics</em>, which
                    basically means taking spatial information (e.g. position, location, distance,
                    geometry) and using it to solve problems. It's a very broad field, and comprises
                    a wide collection of technologies and methods. Some of these are:
                </p>
                <ul>
                    <li>3D Image Metrology (Photogrammetry, dense depth techniques, LiDAR)</li>
                    <li>Digital Imaging (2D Image Analysis and Computer Vision)</li>
                    <li>Geospatial Information Systems (Think map mashups and combining regular data with location)</li>
                    <li>Location Based Services (Smartphones, Geo-web services)</li>
                    <li>Remote Sensing (Satellites, Medical Imaging, etc...)</li>
                    <li>Internet-of-Things (IOT)</li>
                    <li>Conventional Surveying (get out in the field and measure, measure, measure)</li>
                </ul>
                <p>
                    If I really wanted to sum up geomatics in the most simple
                    terms though, I would say that it is
                    <a href='{{ site.baseurl }}/blog/2019/11/28/geomatics-measuring-mapping-modeling'>
                        measuring, modeling, and mapping
                    </a> the world around us.
                </p>
            </div>
        </div>
    </div>

    <div id='contact' class='content'>
        <div class='l-box-lrg pure-g'>
            <div class='pure-u-1 pure-u-md-1-1 pure-u-lrg-1-1'>
                <h2 class='content-head'>Contact Me</h2>
                <p>
                Hit me up using one of the below methods for a chat.
                </p>
                <ul class='clean-list'>
                    <li>Matrix: <a href='//matrix.to/#/@jeremy:salty.modular.im'>@jeremy:salty.modular.im</a></li>
                    <li>IRC: <code>#perception</code> channel on <a href='//web.libera.chat'>LiberaChat</a></li>
                    <li>Bluesky: <a href='//bsky.app/profile/thatgeoguy.bsky.social'>@ThatGeoGuy.bsky.app</a></li>
                    <li>Mastodon: <a href='//coales.co/@thatgeoguy' rel='me'>@ThatGeoGuy@coales.co</a></li>
                    <li>Email: <a href='mailto:admin@thatgeoguy.ca'>admin@thatgeoguy.ca</a></li>
                    <li>Keybase: <a href='//keybase.io/thatgeoguy'>ThatGeoGuy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id='home-end' class='content'>
        <ul class='footer-list'>
            <li class='footer-link'><a href='//bsky.app/profile/thatgeoguy.bsky.social'>Bluesky</a></li>
            <li class='footer-link'><a href='https://coales.co/@thatgeoguy' rel='me'>Fediverse (Mastodon)</a></li>
            <li class='footer-link'><a href='//keybase.io/thatgeoguy'>Keybase</a></li>
            <li class='footer-link'><a href='mailto:admin@thatgeoguy.ca'>Email</a></li>
            <li class='footer-link'><a href='{{ site.baseurl }}/feed.xml'>RSS / Atom</a></li>
            <li class='footer-link'><a href='/#'>Back To Top</a></li>
        </ul>
        <p class='post-license'>
        This work is licensed under a
        </p>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
    </div>
</div>
