{% if paginator.total_pages > 1 %}
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Newer Posts</a>
    {% else %}
    {% endif %}

    {% if paginator.page_trail %}
      {% for trail in paginator.page_trail %}
        {% if trail.num == paginator.page %}
            <em>{{ trail.num }}</em>
        {% elsif trail.num == 1 %}
            <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}">{{ trail.num }}</a>
        {% else %}
            <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', trial.num }}">{{ trail.num }}</a>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &raquo;</a>
    {% else %}
    {% endif %}
</div>
{% endif %}
