---
layout: blog
author: ThatGeoGuy
description: ThatGeoGuy blog - archive
title: Archive

tags:
- blog
- ThatGeoGuy
- Geomatics
- technology
---
	<h1>Archives</h1>
	<hr style='width: 100%'>
	<ul>
		{% for post in site.posts %}
			{% unless post.next %}
			<h2>{{ post.date | date: '%Y' }}</h2>
			{% else %}
				{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
				{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
				{% if year != nyear %}
					<h2>{{ post.date | date: '%Y' }}</h2>
				{% endif %}
			{% endunless %}

			<li>{{ post.date | date: '%B %-d' }} - <a href='{{ post.url }}'>{{ post.title }}</a></li>
		{% endfor %}
	</ul>
