---
layout: blog
author: ThatGeoGuy
description: ThatGeoGuy blog - Technology, Geomatics, and more!
title: Blog

tags:
- blog
- ThatGeoGuy
- Geomatics
- technology

pagination:
    enabled: true
    per_page: 5
    permalink: '/:num/'
    sort_reverse: true
    trail:
        before: 1
        after: 2
---
    <div class='posts'>
    {% for post in paginator.posts %}
        <section class='post'>
            <header class='post-header'>
                <h2 class='post-title'>
                    <a class='title-link' href='{{ post.url }}'>{{ post.title }}</a>
                </h2>
                <p class='post-meta'>
                On <em>{{ post.date | date: "%Y-%m-%d" }}</em> by <em>{{ post.author }}</em>
                </p>
            </header>
            <div class='post-excerpt'>
                <p>{{ post.excerpt | markdownify }}</p>
                <p><a href='{{ post.url }}'>Read More...</a></p>
            </div>
            <hr>
        </section>
    {% endfor %}
    </div> <!-- posts -->
