<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>ThatGeoGuy - {{ page.title }}</title>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta name='description' content='{{ page.description }}'>
        <meta name='author' content='{{ page.author }}'>
        <meta name='keywords' content='{% for tag in page.tags %}{{tag}},{% endfor %}'>
        <link rel='icon' href='{{ site.baseurl}}/favicon.ico'>
        <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css'>
        <link rel='stylesheet' href='{{ site.baseurl }}/css/base.css'>
        {% for stylesheet in layout.stylesheets %}<link rel='stylesheet' href='{{ site.baseurl }}/{{ stylesheet }}'>
        {% endfor %}
        {% for stylesheet in page.stylesheets %}<link rel='stylesheet' href='{{ site.baseurl }}/{{ stylesheet }}'>
        {% endfor %}
    </head>
    <body>
        {{ content }}
    </body>
</html>
