---
layout: base

stylesheets:
- css/blog.css
- css/post.css
- css/main-grid.css
- css/monokai.css
---
<div id='layout' class='pure-g'>
    <div class='sidebar pure-u-1 pure-u-med-1-4'>
        <div class='header'>
            <hgroup>
                <h1 class='blog-name'>ThatGeoGuy</h1>
                <h2 class='blog-tagline'>Geomatics. Technology. Life.</h2>
            </hgroup>

            <nav class='nav'>
                <ul class='nav-list'>
                    <li class='nav-item'>
                        <a href='{{ site.baseurl }}/'>Home</a>
                    </li>
                    <li class='nav-item'>
                        <a href='{{ site.baseurl }}/blog/'>Blog</a>
                    </li>
                    <li class='nav-item'>
                        <a href='{{ site.baseurl }}/blog/archive/'>Archive</a>
                    </li>
                    <li class='nav-item'>
                        <a href='{{ site.baseurl }}/feed.xml'>RSS / Atom</a>
                    </li>
                </ul>
            </nav>
        </div> <!-- header -->
    </div> <!-- sidebar -->
    <div class='content pure-u-1 pure-u-med-3-4'>
        <div class='post'>
            {{ content }}
        </div>
    {% include pagination.html %}
    <p class='post-license'>
        This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
    </p>
    <hr>
    </div> <!-- content -->
</div> <!-- page layout -->
<script type ="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
